$dark-grey: #404040;
$grey: #929292;
$light-grey: #f6f6f6;
$white: #fff;

$dark-green: #013946;
$dark-green1: #3e606a;
$dark-green3: #9dafb4;

$dark-teal: #49afae;
$teal: #2bb9ad;
$teal1: #73c4bd;
$teal2: #b3e6e0;
$teal4: #d5f1ef;
$teal5: #ecf8f7;
