* {
  &::-webkit-scrollbar {
    width: 12px;

    &-thumb {
      background-color: $teal;
      border: 4px solid $white;
      border-radius: 99px;
    }

    &-track {
      border: 4px solid $white;
      border-radius: 99px;
    }
  }
}

html {
  scroll-behavior: smooth;
}

html.block {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.hidden {
  display: none !important;
}
