.blog-card {
  border-radius: 12px;
  background: $white;
  box-shadow: 0px 12px 20px 0px rgba(64, 64, 64, 0.08);
  overflow: hidden;

  &__img {
    display: block;
    height: 200px;
  }

  &__body {
    padding: 20px;
  }

  &__tags {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    margin-bottom: 12px;

    & a {
      padding: 6px;
      background-color: $teal4;
      border-radius: 99px;

      font-weight: 600;
      font-size: 11px;
      line-height: 135%;
      color: $dark-green1;

      transition: 0.2s ease;

      @media (any-hover: hover) {
        &:hover {
          background-color: $teal1;
          color: $white;
        }
      }
    }
  }

  &__author {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 19px;

    font-weight: 500;
    font-size: 12px;
    color: $grey;

    margin-bottom: 12px;

    & span {
      &:first-of-type {
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 3px;
          height: 3px;
          background-color: $grey;
          border-radius: 50%;

          position: absolute;
          top: 50%;
          right: -11px;
          transform: translateY(-50%);
        }
      }
    }

    & a {
      color: $dark-grey;
      transition: 0.2s ease;

      @media (any-hover: hover) {
        &:hover {
          color: $teal;
        }
      }
    }
  }

  & h2 {
    font-size: 600px;
    font-size: 22px;
    line-height: 140%;
    color: $dark-green;

    margin-bottom: 12px;
  }

  & p {
    font-size: 16px;
    line-height: 140%;
    color: $grey;
  }

  &--small {
    & .blog-card {
      &__img {
        height: 140px;
      }

      &__body {
        padding: 15px 10px;
      }

      & h2 {
        font-size: 16px;
        margin-bottom: 6px;
      }

      & p {
        font-size: 14px;
      }
    }
  }
}
