.blog {
  margin-top: 90px;
  margin-bottom: 150px;
  background-color: $white;

  &__wrapper {
    display: grid;
    grid-template-columns: 260px 1fr;
    gap: 20px;
  }

  &__aside {
    height: fit-content;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid $light-grey;
    background-color: $white;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p {
      font-weight: 600;
      font-size: 16px;
      color: $dark-grey;
    }
  }

  &__btn-clear {
    font-size: 14px;
    color: $dark-green3;

    transition: 0.2s ease;

    @media (any-hover: hover) {
      &:hover {
        color: $dark-green1;
      }
    }
  }

  &__filters {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px 20px;
  }

  &__pagination {
    margin-top: 40px;
  }
}

@media (max-width: 999px) {
  .blog {
    margin-top: 20px;
    margin-bottom: 80px;

    &__wrapper {
      grid-template-columns: initial;
      gap: 20px;
    }

    &__head {
      & p {
        display: flex;
        align-items: center;
        gap: 12px;

        &::after {
          content: "";
          display: block;

          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: $dark-grey transparent transparent transparent;

          transition: 0.2s ease;
        }
      }
    }

    &__filters {
      max-height: 0;
      margin-top: 0;
      overflow: hidden;

      transition: 0.2s ease;

      &.open {
        max-height: 500px;
        margin-top: 20px;
      }
    }
  }
}
